*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

ul li {
    padding: 0 15px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

li.dourado:hover{
    background-color: #D1A85A;
    color: #000;
}

ul li:hover{
    background-color: rgba(216, 196, 154, 0.2);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

header{
    justify-content: space-between;
    display: flex;
    padding: 20px 30px 0 30px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    div{
        display: flex;
        align-items: center;
        gap: 30px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 0 10px;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        img{
            width: 60px;
            height: auto;
            cursor: pointer;
        }
        h1{
            font-size: clamp(16px, 2vw, 20px);
            color: #d8c49a;
            font-family: 'Cinzel Decorative', serif;
            font-weight: 900;
            cursor: pointer;
            span{
                font-size: clamp(20px, 2.5vw, 24px);
                color: #b3342a;
            }
        }
    }

    nav{
        display: flex;
        flex-wrap: wrap;
        ul{
            line-height: 50px;
            display: flex;
            align-items: center;
            gap: 5px;
            list-style: none;
            color: #d8c49a;
            font-family: 'Jacques Francois', serif;
            font-size: 20px;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 0 10px;
            border-radius: 10px;
            backdrop-filter: blur(10px);
            cursor: pointer;
            li.dourado{
                color: #D1A85A;
                font-weight: bold;
            }
        }
    }
}
    
section{
    width: 100%;
    display: flex;
    flex-direction: column;
}

main hr{
    border: 2px solid #14120c;
}

.primeira-pagina{
    background-image: url(../img/background-secao-um.webp);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #E8DCC1;
    cursor: default;
    .bloco-gradiente {
        position: absolute;
        top: 0;
        left: 0;
        width: 60%;
        height: 100%;
        z-index: 0;
        pointer-events: none;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
        backdrop-filter: blur(8px);
        -webkit-mask-image: linear-gradient(to right, black 0%, transparent 100%);
        mask-image: linear-gradient(to right, black 0%, transparent 100%);
    }
    h2.titulo-primeira-pagina{
        margin-top: 30vh;
        margin-left: 4vw;
        font-family: 'Almendra', serif;
        font-size: 40px;
        z-index: 2;
        span{
            font-family: 'Almendra', serif;
            font-size: clamp(200px, 2.5vw, 24px);
        }
    }
    .divisao-de-blocos{
        margin: 0 0 0 4vw;
        display: flex;
        align-items: center;
        gap: 10px;
        z-index: 2;
        img.divisao-icon{
            width: 35px;
            height: auto;
        }
        hr{
            display: block;
            width: 18.5%;
            border: 1px solid #ffa600;
        }
    }

    p{
        font-family: 'Almendra', serif;
        font-size: 24px;
        z-index: 2;
        margin: 20px 0 0 4vw; 
    }
    
    .botao-primeira-pagina{
        width: 26.0417vw;
        height: 4.1667vw;
        background-color: #790707;
        border-radius: 45px;
        box-shadow: 0 0 24px rgba(94, 14, 14, 0.45);
        z-index: 2;
        margin: 20px 0 0 4vw;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        a{
            text-decoration: none;
            color: #E8DCC1;
            font-family: 'Almendra', serif;
            font-size: 24px;
            font-weight: bold;
            display: flex;
            text-align: center;
            justify-content: center;
            line-height: 80px;
            width: 100%;
            gap: 10px;
            img{
                width: 35px;    
                height: 35px;
                justify-content: center;
                align-self: center;
            }
        }
        
    }
    .botao-primeira-pagina:hover{
        background-color: #610000;
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
    }
       
}

.sobre-a-aventura{
    background-image: url(../img/background-sobre-a-aventura.webp);
    background-size: cover;
    background-position: center;
    min-height: 85vh;
    height: auto;
    color: #E8DCC1;
    cursor: default;
    display: flex;
    flex-direction: column;
    
    .card-sobre-a-aventura{
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 40px 20px;
        box-sizing: border-box;
        h2.titulo-sobre-a-aventura{
            margin-top: 5vh;
            margin-left: 0;
            font-family: 'Jacques Francois', serif;
            font-size: 52px;
            z-index: 2;
            justify-content: center;
        }
        .divisao-de-blocos{
            margin: 20px 0 0 0;
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;
            z-index: 2;
            img.divisao-icon{
                width: 35px;
                height: auto;
            }
            hr{
                display: block;
                width: 15%;
                border: 1px solid #790707;
            }
        }
        
        p{
            font-family: 'Almendra', serif;
            font-size: 24px;
            z-index: 2;
            margin: 30px 0 0 0;
            width: 100%;
        }

        div.quarto-paragrafo{
            color: #790707;
            text-shadow: 0 0 10px rgba(121, 7, 7, 0.5);
        }
    }
   
}

.conheca-alguns-rostos{
    background-image: url(../img/background-o-que-te-espera.webp);
    background-size: cover;
    background-position: center;
    height: 80vh;
    color: #E8DCC1;
    cursor: default;
    h2.titulo-conheca-alguns-rostos{
        margin: 9vh 0 0 0;
        font-family: 'Jacques Francois', serif;
        font-size: 52px;
        z-index: 2;
        text-align: center;
    }
    .divisao-de-blocos{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        z-index: 2;
        margin-top: 10px;
        img.divisao-icon{
            width: 35px;
            height: auto;
        }
        hr{
            display: block;
            width: 12%;
            border: 1px solid #790707;
        }
    }
    .personagens{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1vw;
        margin-top: 2vw;
        font-family: 'Almendra';
        font-size: 30px;
        text-align: center;
        img{
            width: 15vw;
            border-radius: 10px;
        }
        p{
            background-color: #14120c;
            border-radius: 10px;
        }
    }
}

.como-jogar{
    background-image: url(../img/background-envio-ao-discord.webp);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #E8DCC1;
    cursor: default;
    h2{
        margin: 25vh auto 0;
        font-family: 'Jacques Francois', serif;
        font-size: 52px;
        text-align: center;
        z-index: 2;
        align-items: center;
        justify-content: center;
    }
    .divisao-de-blocos{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        z-index: 2;
        margin-top: 10px;
        img.divisao-icon{
            width: 35px;
            height: auto;
        }
        hr{
            display: block;
            width: 11%;
            border: 1px solid #790707;
        }
    }
    p{
        text-align: center;
        font-family: 'Almendra', serif;
        font-size: 40px;
        margin-top: 7vh;
        display: flex;
        flex-direction: column;
    }
    .botao-discord{
        width: 26.0417vw    ;
        height: 4.1667vw;
        background-color: #790707;
        border-radius: 10px;
        box-shadow: 0 0 24px rgba(94, 14, 14, 0.45);
        z-index: 2;
        margin: 100px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        a{
            text-decoration: none;
            color: #E8DCC1;
            font-family: 'Almendra', serif;
            font-size: 24px;
            font-weight: bold;
            display: flex;
            text-align: center;
            justify-content: center;
            line-height: 80px;
            width: 100%;
            gap: 10px;
            img{
                width: 35px;    
                height: 35px;
                justify-content: center;
                align-self: center;
            }
        }
    }
    .botao-discord:hover{
        background-color: #610000;
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
    }
}

@media (max-width: 800px){
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        div{
            img{
                width: 50px;
            }
        }
        nav{
            display: flex;
            align-items: center;
            justify-content:flex-end;
            li{
                font-size: 7px;
                max-width: 90px;
                gap: 10px;
            }
        }
    }
    .primeira-pagina{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-size: cover;
        background-position: center;
        .divisao-de-blocos{
            align-items: center;
            display: flex;
            justify-content: center;
            hr{
                width: 40%;
            }
        }
        .botao-primeira-pagina{
            justify-content: center;
            display: flex;
            align-items: center;
            margin: 6vh auto;
            width: 400px;
            height: 80px;
            a{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .sobre-a-aventura{
        justify-content: center;
        align-items: center;
        text-align: center;
        .divisao-de-blocos{
            align-items: center;
            justify-content: center;
        }
    }
    .conheca-alguns-rostos {
        height: auto; 
        min-height: 80vh;
        padding: 40px 10px;
        box-sizing: border-box;

        h2.titulo-conheca-alguns-rostos {
            font-size: 32px; 
            margin: 5vh 0 0 0;
        }

        .divisao-de-blocos hr {
            width: 20%; 
        }

        .personagens {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            gap: 30px 10px;  
            margin-top: 30px;
            padding: 0 15px; 
            font-size: 12px; 

            
            div {    
                width: calc(33.33% - 12px); 
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }

            img {
                width: 100%; 
                max-width: 110px;
                height: auto;
                border-radius: 10px;
            }

            p {
                width: 100%;
                max-width: 110px;
                margin-top: 8px;
                padding: 6px 4px; 
                box-sizing: border-box;
                word-wrap: break-word; 
            }
        }
    }
    .como-jogar{
        .botao-discord{
            width: 350px;
            height: 80px;
        }
    }

}

@media (max-width: 375px){

}